<section id="contato">
  <div class="content">
    <header>
      <h1>Contato</h1>
      <p>
        Se precisar de alguma informação adicional, sinta-se à vontade para
        falar com a gente ;)
      </p>
    </header>
    <form action="#">
      <div class="informacoes">
        <div>
          <label for="txNome">Nome*</label>
          <input
            type="text"
            placeholder="Informe seu nome"
            id="txNome"
            aria-label="Nome"
          />
          <label for="txEmail">Email*</label>
          <input
            type="email"
            placeholder="Informe seu email"
            id="txEmail"
            aria-label="Email"
          />
        </div>
        <div>
          <label for="txSobrenome">Sobrenome</label>
          <input
            type="text"
            placeholder="Informe seu sobrenome"
            id="txSobrenome"
            aria-label="Sobrenome"
          />
          <label for="txTelefone">Telefone</label>
          <input
            type="tel"
            placeholder="Informe seu telefone"
            id="txTelefone"
            aria-label="Telefone"
          />
        </div>
      </div>
      <label for="txMensagem">Mensagem*</label>
      <input
        type="text"
        placeholder="Manda aí uma mensagem pra gente ;)"
        id="txMensagem"
        aria-label="Mensagem"
      />
      <button>Enviar mensagem</button>
    </form>
  </div>
</section>
